{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DNA - Data Network Analysis</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'test3/img/favicon.png' %}" rel="icon">
  <link href="{% static 'test3/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'test3/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'test3/lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
  <link href="{% static 'test3/lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'test3/lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
  <link href="{% static 'test3/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'test3/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'test3/lib/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="{% static 'test3/css/nivo-slider-theme.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'test3/css/style.css' %}" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{% static 'test3/css/responsive.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="#">
                  <h1><span>D</span>ata<span>N</span>etwork<span>A</span>nalysis</h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="img/logo.png" alt="" title=""> -->
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="#home">Home</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#team">Team</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#notion">Notion</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->

  <!-- Start Slider Area -->
  <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="{% static 'test3/img/slider/slider_space1_resize.jpg' %}" alt="" title="#slider-direction-1" />
        <img src="{% static 'test3/img/slider/slider_space2_resize.jpg' %}" alt="" title="#slider-direction-2" />
        <img src="{% static 'test3/img/slider/slider_space3_resize.jpg' %}" alt="" title="#slider-direction-3" />
      </div>

      <!-- direction 1 -->
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">DNA PorfWorld Open</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">Welcome to DNA PorfWorld</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="#about">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- direction 2 -->
      <div id="slider-direction-2" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content text-center">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">DNA Notion</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">More information about DNA</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="http://bit.ly/DNA_homepage">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- direction 3 -->
      <div id="slider-direction-3" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">Donation to DNA</h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">DNA is waiting for your support</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="https://www.notion.so/tootouch/Sponser-Scholarship-b841d0182aef479e99a38048f6aea3a1">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slider Area -->

  <!-- Start About area -->
  <div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>About DNA</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
								  <img src="{% static 'test3/img/about/dna2.jpg' %}" alt="">
								</a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <h4 class="sec-head">What is DNA?</h4>
              <p>
                DNA means that each person is not the same person, but it's the space to find and plan what they want, to achieve their goals, and to deliver information to the next generation.
              </p>
              <h4 class="sec-head">Rules</h4>
              <ul>
                <li>
                  <i class="fa fa-check"></i> No discrimination in age, sex and academic background
                </li>
                <li>
                  <i class="fa fa-check"></i> Study on various domains
                </li>
                <li>
                  <i class="fa fa-check"></i> Various information sharing and feedback
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->
  <!-- our-skill-area start -->
  <div class="our-skill-area fix hidden-sm">
    <div class="test-overly"></div>
    <div class="skill-bg area-padding-2">
      <div class="container">
        <!-- section-heading end -->
        <div class="row">
          <div class="skill-text">
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="{{ mid_term_rate }}" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Mid Check</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="{{ first_seminar_term_rate }}" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">First Seminar</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="{{ project_rate }}" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">Complete Projects</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
            <!-- single-skill start -->
            <div class="col-xs-12 col-sm-3 col-md-3 text-center">
              <div class="single-skill">
                <div class="progress-circular">
                  <input type="text" class="knob" value="0" data-rel="{{ growth_term_rate }}" data-linecap="round" data-width="175" data-bgcolor="#fff" data-fgcolor="#3EC1D5" data-thickness=".20" data-readonly="true" disabled>
                  <h3 class="progress-h4">DNA Growth</h3>
                </div>
              </div>
            </div>
            <!-- single-skill end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- our-skill-area end -->
  <!-- Start team Area -->
  <div id="team" class="our-team-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Our special Team</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="team-top">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/허재혁.jpg' %}" alt="">
                <div class="team-social-icon text-center">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/jaehyuck.heo">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/jaehyuk-heo-7b4055140/">
                        <i class="fa fa-linkedin "></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/bllfpc">
                        <i class="fa fa-github"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team-content text-center">
                <h4>Jaehyuk Heo</h4>
                <p>Administrator & Data Scientist</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/박용연.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>박용연</h4>
                <p>Data Scientist</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/박상민.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>박상민</h4>
                <p>Data Scientist</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/이정환.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>이정환</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
      <div class="row">
        <div class="team-top">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/문현종.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>문현종</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/박예린.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>박예린</h4>
                <p>Social Researcher</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/조하늘.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>Haneul Jo</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/이재헌.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>이재헌</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
      <div class="row">
        <div class="team-top">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/김진우.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>김진우</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/원가연.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>Gayeon Won</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/고가연.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>Kelly Koh</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="single-team-member">
              <div class="team-img">
                <img src="{% static 'test3/img/team/서형준.jpg' %}" alt="">
              </div>
              <div class="team-content text-center">
                <h4>Steve Seo</h4>
                <p>Data Science Student</p>
              </div>
            </div>
          </div>
          <!-- End column -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Team Area -->
  <!-- Start reviews Area -->
  <div id='notion' class="reviews-area hidden-xs">
    <div class="work-us">
      <div class="work-left-text">
        <a href="#">
            <img src="{% static 'test3/img/about/dna_resize.jpg' %}" alt="">
          </a>
      </div>
      <div class="work-right-text text-center">
        <h2>DNA Notion</h2>
        <h5>More information, projects, news and events<br>See you at Notion!</h5>
        <a href="http://bit.ly/DNA_homepage" target="_blank" class="ready-btn">Learn More</a>
      </div>
    </div>
  </div>
  <!-- End reviews Area -->
  <!-- Start portfolio Area -->
  <div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Our Portfolio</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start Portfolio -page -->
        <div class="awesome-project-1 fix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="awesome-menu ">
              <ul class="project-menu">
                <li>
                  <a href="#" class="active" data-filter="*">All</a>
                </li>
                <li>
                  <a href="#" data-filter=".survey">Survey</a>
                </li>
                <li>
                  <a href="#" data-filter=".ML">Machine Learning</a>
                </li>
                <li>
                  <a href="#" data-filter=".consulting">Consulting</a>
                </li>
                <li>
                  <a href="#" data-filter=".edu">Education</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="awesome-project-content">
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/White_box.png' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/White-Box-4581bacc68b54049b6168486fbfab87d" target="_blank">
                      <h4>White Box</h4>
                      <span>Deep Learning<br>Computer Vision</span>
                      <div>Jaehyuk Heo</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/How_to_Make_Recommendations.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/How-to-Make-Recommendations-f4b2d78b186042a4b877407db5262a57" target="_blank">
                      <h4>How to Make Recommendations</h4>
                      <span>Recommendation System</span>
                      <div>박용연</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 consulting">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/lazy_researcher.PNG' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/c88bd495d5e64df6aea87825e956db27" target="_blank">
                      <h4>Lazy Researcher's Life</h4>
                      <span>Consulting</span>
                      <div>Jaehyuk Heo & 박예린</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/Hooooorse.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/01767b84ab7747e68f67777816862161" target="_blank">
                      <h4>Horse Racing Rank Prediction</h4>
                      <span>Machine Learning</span>
                      <div>무냑종</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/OliveYoung_for_Man.JPG' %}" alt="" /></a>
                <div class="add-actions text-center text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/0ad39846d3e64756bf9ed62cd245095f" target="_blank">
                      <h4>OliveYoung for Man</h4>
                      <span>Visualization</span>
                      <div>조하늘 & Jaehyuk Heo</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 survey ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/Every_Day_Studying.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/Everyday-Studying-0ebfc85d00904be9baf346028a9e04ff" target="_blank">
                      <h4>Everyday Studying</h4>
                      <span>Data Science</span>
                      <div>이정환</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 survey">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/Data Scient Interview.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/Data-Scientist-QnA-3227bc14f6794e78a5968d76d1fd0d93" target="_blank">
                      <h4>Data Science Interview</h4>
                      <span>Survey</span>
                      <div>Jaehyuk Heo</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 survey">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/Data Science Job Research.JPG' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/Data-a7c22474bec9408180f7d5193672eacb" target="_blank">
                      <h4>Data Science Job Research</h4>
                      <span>Survey</span>
                      <div>Kelly Koh</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 survey">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/All_of_the_Metrics.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/All-of-the-Metrics-8bebc798671f4be68d1ce7f170ae965a" target="_blank">
                      <h4>All of the Metrics</h4>
                      <span>Survey</span>
                      <div>Jaehyuk Heo</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 edu ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/AI_for_student.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/AI-f69079d8ecd942f4bdbeef33bf9e9baf" target="_blank"> 
                      <h4>A.I. for student</h4>
                      <span>Deep Learning<br>Education</span>
                      <div>Steve Seo & 원가연</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML survey">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/SNS_Marketing.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/SNS-Marketing-4b20e64c887a44ceaae662b4be58bfad" target="_blank">
                      <h4>SNS Markerting</h4>
                      <span>Machine Learning</span>
                      <div>원가연</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/bigcontest.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/2019-7799e47ab1174947a4d71e4f082547af" target="_blank">
                      <h4>BigContest 2019</h4>
                      <span>Machine Learning</span>
                      <div>박상민 외 4명</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/Who_Will_Win(WWW).jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/Who-Will-Win-WWW-9dee57f83aae40ff9d40985195ad3f77" target="_blank">
                      <h4>Who Will Win</h4>
                      <span>Machine Learning</span>
                      <div>김진우 & 이재헌</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
          <!-- single-awesome-project start -->
          <div class="col-md-4 col-sm-4 col-xs-12 ML">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="{% static 'test3/img/portfolio/songstalgia.jpg' %}" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a href="https://www.notion.so/tootouch/Songstalgia-c7f30ce6f26d408dbe41d8394f42c7e2" target="_blank">
                      <h4>Songstalgia</h4>
                      <span>Deep Learning</span>
                      <div>Jaehyuk Heo</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- single-awesome-project end -->
        </div>
      </div>
    </div>
  </div>
  <!-- awesome-portfolio end -->
  <!-- Start Testimonials -->
  <div class="testimonials-area">
    <div class="testi-inner area-padding">
      <div class="testi-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- Start testimonials Start -->
            <div class="testimonial-content text-center">
              <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
              <!-- start testimonial carousel -->
              <div class="testimonial-carousel">
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                      Heal the world. Make it a better place. For you and for me And the entire human race. There are people dying. If you care enough for the living. Make it a better place. For you and for me
                    </p>
                    <h6>Jaehyuk Heo</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                        test blabla test blabla test blabla test blabla test blabla test blabla<br>test blabla test blabla test blabla test blabla test blabla test blabla test blabla test blabla
                    </p>
                    <h6>Kelly Koh</h6>
                  </div>
                </div>
                <!-- End single item -->
                <div class="single-testi">
                  <div class="testi-text">
                    <p>
                        test blabla test blabla test blabla test blabla test blabla test blabla<br>test blabla test blabla test blabla test blabla test blabla test blabla test blabla test blabla
                    </p>
                    <h6>Steve Seo</h6>
                  </div>
                </div>
                <!-- End single item -->
              </div>
            </div>
            <!-- End testimonials end -->
          </div>
          <!-- End Right Feature -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonials -->
  
  <footer>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->
              Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'test3/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'test3/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'test3/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'test3/lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'test3/lib/knob/jquery.knob.js' %}"></script>
  <script src="{% static 'test3/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'test3/lib/parallax/parallax.js' %}"></script>
  <script src="{% static 'test3/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'test3/lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
  <script src="{% static 'test3/lib/appear/jquery.appear.js' %}"></script>
  <script src="{% static 'test3/lib/isotope/isotope.pkgd.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'test3/contactform/contactform.js' %}"></script>

  <script src="{% static 'test3/js/main.js' %}"></script>
</body>

</html>
